*{
	margin: 0;
	padding: 0;
	background-color: #ccc;
}

.container{
	position: relative;
	width: 800px;
	height: 860px;
	margin: 30px auto;
	border: 1px solid #aaa;
	border-radius: 10px;
	padding: 10px;
}

.container h1{
	color: #328490;
	text-align: center;
}

.container h4{
	color: #324490;
	text-align: right;
}

.container button{
	width: 200px;
	height: 40px;
	color: white;
	background-color: #548960;
	box-shadow: none;
	font-size: 24px;
}

.roate{
	width: 760px;
	height: 760px;
	border-radius: 400px;
	background-color: #574989;
	margin: 0 auto;
	position: relative;
}

#sx1{
	width: 300px;
	height: 300px;
	position: absolute;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: yellow;
	right: 50%;
	bottom: 50%;
	border-radius: 100% 0 50% 0 ;
}

#sx2{
	width: 300px;
	height: 300px;
	position: absolute;
	background-color: blue;
	margin-left: 20px;
	margin-bottom: 20px;
	left: 50%;
	bottom: 50%;
	border-radius:  0 100% 0 50%;
}

#sx3{
	width: 300px;
	height: 300px;
	position: absolute;
	background-color: red;
	margin-right: 20px;
	margin-top: 20px;
	right: 50%;
	top: 50%;
	border-radius:  0 50% 0 100%;
	
}

#sx4{
	width: 300px;
	height: 300px;
	position: absolute;
	background-color: green;
	margin-top: 20px;
	margin-left: 20px;
	left: 50%;
	top: 50%;
	border-radius:  50% 0 100%  0;
}

#display{
	width: 160px;
	height: 160px;
	background-color: #e85499;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -80px;
	margin-top: -80px;
	color: #eee;
	text-align: center;
	font-size: 35px;
	line-height: 145px;
	border-radius: 80px;
}