*{
	margin: 0;
	padding:0;
	background-color: #092B40;
	color: white;
}

a{
	text-decoration: none;
}

.searchs{
	margin: 0 auto;
}

#searchTerm{
	width: 120px;
	border-radius: 10px;
}
			