*{
	background-color: #092B40;
	color: white;
}

a{
	text-decoration: none;
}

.container{
	width: 480px;
	margin: 420px auto;
	font-size: 28px;
}

#searchTerm{
	width: 120px;
	border-radius: 10px;
}
			