*{
  margin: 0;
  padding: 0;
}

header{
  background-color: rgb(114,40,114);
  width: 1920px;
  height: 80px;
  position: fixed;
  left: 0;
  top; 0;
}

.nav{
  width: 1024px;
  margin: 0 auto;
}

.logo img{
  float: left;
  width: 60px;
  height: 60px;
  margin: 10px;
}

ul{
  list-style: none;
  position: relative;
  float: right;
}

li a{
  text-decoration: none;
  color: #666;
}

li{
  font-size: 18px;
  postion: relative;
  float: left;
  text-transform: uppercase;
  margin: 30px 20px;
  font-family: "Simhei";
}

div{
  width: 1024px;
  margin: 0 auto;
}

.intro{
  height: 388px;
  background-color: rgb(170,170,170);
  overflow: hidden;
}

.text1{
  color: white;
  text-align: right;
  font-family: "Microsoft Yahei";
  width: 580px;
  float: left;
  padding-top: 100px;
  padding-left: 20px;
}

.text1>p{
  font-size: 1.2em;
}

.text1>h2{
  font-size: 1.2em;
  line-height: 3.6em;
  font-family: Arial;
}

.intro img{
  width: 250px;
  height: 250px;
  border-radius: 250px;
  position: relative;
  float: right;
  margin-right: 40px;
  margin-top: 80px;
}

.prof{
  height: 1220px;
  background-color: rgb(238,238,238);
}

.prof>h1{
  text-align: center;
  font-size: 1.8em;
  font-family: Arial;
  color: grey;
  padding-top: 30px;
  line-height: 2em;
}

.prof img{
  width: 420px;
  height: 303px;
  margin: 20px;
  padding: 10px;
}

.contact{
  height: 748px;
  background-color: rgb(238,238,238);
  border-top: 1px solid rgb(170,170,170);
}

.p01>h1{
  text-align: center;
  font-size: 1.8em;
  font-family: Arial;
  color: grey;
  padding-top: 30px;
  line-height: 2em;
}

form>input{
  border: none;
  border-bottom: 1px solid grey;
  width: 400px;
  height: 50px;
  margin-left: 30px;
  background-color: rgb(238,238,238);
  font-size: 2em;
}

.btn1{
  width: 50px;
  height: 30px;
  margin: 30px;
  font-size: 1em;
  color: rgb(138,138,138);
}


 textarea{
  border: none;
  border-bottom: 1px solid grey;
  width: 400px;
  height: 130px;
  margin-left: 30px;
  background-color: rgb(238,238,238);
  font-size: 2.3em;
 }

 .p01{
  position: relative;
  float: left;
 }

 .p11{
  position: relative;
  float: left;
  width: 450px;
  left: 500px;
  top: -360px;
  color: rgb(118,118,118);
  font-family: Arial;
  font-size: 1.4em;
  line-height: 1.8em;
 }

.page{
  background-color: rgb(170,170,170);
  height: 280px;
  width: 1920px;
  position: relative;
  color: white;
  font-family: "Simhei";
}

.left{
  position: relative;
  left: -300px;
  top: 40px;
}

.right{
  position: relative;
  float: right;
  left: 15%;
  top: 0px;
}
.copyright{
  background-color: rgb(114,40,114);
  width: 1920px;
  height: 80px;
  left: 0;
  bottom: 0;
  position: relative;
  color: white;
  text-align: center;
  font-size: 1.4em;
  font-family: Arial;
  line-height: 2.8em;
}
